# Gradle files
.gradle/
build/

# Local configuration
local.properties

# Android Studio
.idea/
*.iml
*.hprof

# Others
# Gradle
.gradle/
build/

# Local configuration
local.properties

# Android Studio
.idea/
*.iml
*.hprof

# Build outputs
*.apk
*.ap_

# Captures
captures/

# External native build / CMake
.externalNativeBuild/
.cxx/

# Misc
.DS_Store
output.json
